
@{
    ViewBag.Title = "Patrones";
}

<h2>Patrones</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Repository", "Repository", "Repository")</li>
        <li>@Html.ActionLink("Singleton", "Singleton", "Singleton")</li>
    </ul>
</div>

