
@{
    ViewBag.Title = "Patrones";
}

<h2>Patrones</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Abstract Factory", "AbstractFactory", "Patrones")</li>
        <li>@Html.ActionLink("Repository", "Repository", "Patrones")</li>
        <li>@Html.ActionLink("Singleton", "Singleton", "Patrones")</li>
    </ul>
</div>

